<h2>Add a new client</h2>

<form action="/clients" method="post">
  <div class="row">
    <div class="large-12 columns">
      <label for="fname">First name:</label>
      <input type="text" name="fname" placeholder="e.x. Barack">
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="lname">Last name:</label>
      <input type="text" name="lname" placeholder="e.x. Obama">
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="address">Address:</label>
      <input type="text" name="address" placeholder="e.x. 1600 Pennsylvania Ave, Washington DC">
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="hair_color">Hair color:</label>
      <input type="text" name="hair_color" placeholder="e.x. black">
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="phone">Phone: </label>
      <input type="text" name="phone" placeholder="e.x. 202-123-4567">
    </div>
  </div>
  <div class="row">
    <% if @stylists.any? %>
    <div class="large-12 columns">
      <label for="stylist_id">Select a stylist:</label>
      <select name="stylist_id">
        <% @stylists.each do |stylist| %>
          <option value="<%= stylist.id %>"><%= stylist.fname %></option>
        <% end %>
      </select>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="large-12 columns">
      <button type="submit">Add client</button>
    </div>
  </div>
</form>
