<h2><%= @client.fname %>, <%= @client.lname %></h2>

<a class="button" href="/clients">View All Clients</a>
<a class="button" href="/client/<%= @client.id %>/edit">Edit</a>
<a class="button" href="/clients/<%= @client.id %>">Destroy</a>
