<div class="row">
	<h2>Razor Cuts Administrative Portal</h2>
</div>

<div class="row">
  <div class="large-4 large-centered columns">
    <ul class="button-group even-2">
      <li><a href="/clients" class="button">Clients</a></li>
      <li><a href="/stylists" class="button">Stylists</a></li>
    </ul>
  </div>
</div>
