<div class="row extra-margin-top">
	<h2>Razor Cutz Administrative Portal</h2>
</div>

<div class="row">
  <div class="large-4 large-centered columns">
    <ul class="button-group even-2 extra-margin-top">
      <li><a href="/clients" class="button large">Clients</a></li>
      <li><a href="/stylists" class="button large">Stylists</a></li>
    </ul>
  </div>
</div>
