<div class="row">
	<h2>Welcome to Ra<span class="z">z</span>or Cut<span class="z">z</span></h2>
	<h2><small>Portland's Premiere Barbers</small></h2>
</div>

<div class="row">
		<a id="clients-link" class="button" href="/clients">Become a member today</a>
		<a id="stylists-link" class="button" href="/stylists">View our stylists</a>
</div>
