<html>
	<head lang="en">
		<title>RaZor CutZ</title>
		<link rel="stylesheet" type="text/css" href="normalize.css">
		<link rel="stylesheet" type="text/css" href="foundation.min.css">
		<link rel='stylesheet' href='main.css'>
	</head>
	<body>
		<div id="site-wrapper" class="container">
			<%= yield %>
		</div>
	</body>
</html>

