<h2>Edit <%= @stylist.fname %></h2>

<form action="/stylists" method="post">

  <label for="fname">First name:</label>
  <input type="text" name="fname" placeholder="e.x. Michael" value="<%= @stylist.fname %>">

  <label for="lname">Last name:</label>
  <input type="text" name="lname" placeholder="e.x. Jordan" value="<%= @stylist.lname %>">

  <label for="styles">Styles: </label>
  <input type="text" name="styles" placeholder="e.x. modern" value="<%= @stylist.styles %>">

  <button type="submit">Submit edit</button>
</form>
