<h2>Add a new stylist</h2>

<form action="/stylists" method="post">

  <div class="row">
    <div class="large-12 columns">
      <label for="fname">First name:</label>
      <input type="text" name="fname" placeholder="e.x. Michael">
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="lname">Last name:</label>
      <input type="text" name="lname" placeholder="e.x. Jordan">
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="styles">Styles: </label>
      <input type="text" name="styles" placeholder="e.x. modern">
    </div>
  </div>

  <div class="row">
    <div class="large-12 text-center column">
      <button type="submit">Add stylist</button>
    </div>
  </div>
</form>
