<h2>Current Stylists:</h2>

<% if @stylists %>
<table>
  <tr>
    <th>First Name:</th>
    <th>Last Name:</th>
    <th>Haircutting Styles:</th>
  </tr>
  <% @stylists.each do |stylist| %>
    <tr>
      <td><%= stylist.fname  %></td>
      <td><%= stylist.lname  %></td>
      <td><%= stylist.styles %></td>
    </tr>
  <% end %>
</table>
<% end %>

<a class="button" href="/stylist/new">Add a new stylist</a>
