/* Assets
************/

/*body {
	background:url('https://images.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg?q=80&fm=jpg&s=293cce57f99e5d60745e1da9da9db675') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

body {
	background-color: #fdfdfd;
}

/* Typography
*************/

h1, h2 {

}

h2 {
	font-size: 3.4em;
	text-align: center;
}

.z {
	vertical-align: sub;
	font-size: 1.4em;
	color: gold;
	font-style: italic;
}

/* Navigation
***************/
.top-bar .name h1 a  {
	color: gold;
}

/* Utility
*************/

.extra-margin-top {
	margin-top: 100px;
}


table {
	margin: auto;
}
